@url-img: '../images';
@url-fonts: '../fonts';

@area-left-width: 200px;
@area-right-width: 250px;
@area-top-height: 50px;

@color-main: #0082d5;

.mixin-number() {
  background: #f35958;
  color: #fff;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
  min-width: 15px;
  line-height: 17px;
  text-align: center;
  border-radius: 7px;
  font-size: 10px;
  text-align: center;
  box-sizing: border-box;
}