@import 'definitions.less';
@color-main: #0082d5;

@media(min-width:768px){
  .header-strip {
    margin-left: 50px;
  }
  .image-logo{
    height: 130px;
  }
  nav {
    padding: 10px 100px;
  }
  #main-menu {
    margin-top: 150px;
    ul{
      border-top: 1px solid #cccccc;
      width: 100%;

      li{
        &:active{
          background-color: rgba(255,255,255,0.3);
        }
        a{
          width: 130px;
          text-align: center;
          height: 100%;
        }
      }
    }
  }
  .navbar{
    padding-bottom: 0px;
    background-color: #ffffff;
  }
}

@media(max-width:767px) {
  .image-logo{
    height: 60px;
  }
}

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type=search] {
  background: #ededed url(../images/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:hover {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

