#profile-section{
  .media
  {
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
  }
  .dp
  {
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
  }
  .dp:hover
  {
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    /*-webkit-font-smoothing:antialiased;*/
  }
}
