body {
  /*font-family: 'Avenir 55 Roman', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;*/
  font-family: 'Noto Sans', sans-serif;
  color: #96979d;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}
body .modal-open {
  position: fixed;
  overflow: hidden;
}
a {
  color: #0082d5;
}
a:hover,
a:active {
  color: #0074c4;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  margin: 0;
}
button,
input {
  outline: none !important;
}
.btn-primary {
  color: #fff;
  background-color: #0082d5;
  border-color: #0082d5;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #0076c9;
  border-color: #0076c9;
}
.dropdown-menu > li {
  width: 100%;
}
.dropdown-menu li a {
  cursor: pointer;
}
.tooltip .tooltip-inner {
  background-color: #000;
  white-space: nowrap;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #000;
}
.checkbox-no-label label {
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
}
.modal-backdrop {
  z-index: 99998 !important;
}
.modal {
  z-index: 99999 !important;
}
.modal-content {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}
.modal-content .modal-header {
  border: none !important;
  background-color: #fff !important;
}
.modal-content .modal-header,
.modal-content .modal-header span,
.modal-content .modal-header h4 {
  color: #888 !important;
  font-size: 20px !important;
  font-weight: 300 !important;
}
.modal-content .modal-footer {
  border: none !important;
  text-align: left !important;
}
.modal-content .modal-footer .btn {
  border-radius: 0 !important;
  border: none !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  padding: 6px 25px !important;
}
.modal-content .modal-footer .btn-default {
  color: #fff !important;
  background-color: #aaa !important;
}
.modal-content .modal-footer .btn-default:hover {
  background-color: #ccc !important;
}
.modal-content .modal-footer .btn-default:active {
  background-color: #888 !important;
}
.modal-content .modal-footer .btn-primary {
  color: #fff !important;
  background-color: #0082d5 !important;
}
.modal-content .modal-footer .btn-primary:hover {
  background-color: #00a1ff !important;
}
.modal-content .modal-footer .btn-primary:active {
  background-color: #337ab7 !important;
}
