@import "definitions.less";

body {
  /*font-family: 'Avenir 55 Roman', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;*/
  font-family: 'Noto Sans', sans-serif;
  color:#96979d;
  font-size:13px;
  margin:0px;
  padding:0px;
  .modal-open {
    position: fixed;
    overflow: hidden;
  }
}

a {
  color: @color-main;

  &:hover, &:active {
    color: #0074c4;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

button, input {
  outline: none !important;
}

.btn-primary {
  color: #fff;
  background-color: @color-main;
  border-color: @color-main;

  &:hover, &:active {
    background-color: #0076c9;
    border-color: #0076c9;
  }
}

.dropdown-menu > li {
  width: 100%;
}

.dropdown-menu li a {
  cursor: pointer;
}

.tooltip {
  .tooltip-inner {
    background-color: #000;
    white-space: nowrap;
  }

  &.bottom .tooltip-arrow {
    border-bottom-color: #000;
  }
  &.right .tooltip-arrow {
    border-right-color: #000;
  }
}

.checkbox-no-label label {
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
}

.modal-backdrop {
  z-index: 99998 !important;
}

.modal {
  z-index: 99999 !important;
}

.modal-content {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;

  .modal-header {
    border: none !important;
    background-color: #fff !important;

    &, span, h4 {
      color: #888 !important;
      font-size: 20px !important;
      font-weight: 300 !important;
    }
  }

  .modal-footer {
    border: none !important;
    text-align: left !important;

    .btn {
      border-radius: 0 !important;
      border: none !important;
      font-size: 15px !important;
      font-weight: 300 !important;
      padding: 6px 25px !important;
    }

    .btn-default {
      color: #fff !important;
      background-color: #aaa !important;

      &:hover {
        background-color: #ccc !important;
      }
      &:active {
        background-color: #888 !important;
      }
    }

    .btn-primary {
      color: #fff !important;
      background-color: @color-main !important;

      &:hover {
        background-color: #00a1ff !important;
      }
      &:active {
        background-color: #337ab7 !important;
      }
    }
  }
}