<div class="list-item">
    <section class="light_section">
        <div class="container list-item-container">
            <div class="row">
                <aside class="col-sm-3 col-md-3 col-lg-3" ui-view="sidebar">
                </aside>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div id="product_listing">
                        <div class="row">
                            <div class="col-sm-6" style="padding-left: 5px; padding-right: 5px;">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a href="#">
                                            <img alt="" src="images/items/01.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding-left: 5px; padding-right: 5px;">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a href="#">
                                            <img alt="" src="images/items/01.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding-left: 5px; padding-right: 5px;">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a href="#">
                                            <img alt="" src="images/items/01.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding-left: 5px; padding-right: 5px;">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a href="#">
                                            <img alt="" src="images/items/01.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row description">
                            <span class="text-center">
                                <h3>STUDIO DOUBLE BREASTED COAT</h3>
                                <h6>Double breasted studio coat. Lapel collar. Button fastening.</h6>
                                <h5>HEIGHT OF MODEL: 178cm</h5>
                            </span>
                        </div>
                        <div class="row more-image">
                            <div class="col-sm-4" style="padding-left: 5px; padding-right: 5px;">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a href="#">
                                            <img alt="" src="images/items/01.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding-left: 5px; padding-right: 5px;">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a href="#">
                                            <img alt="" src="images/items/01.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding-left: 5px; padding-right: 5px;">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a href="#">
                                            <img alt="" src="images/items/01.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="col-sm-3 col-md-3 col-lg-3" ui-view="detail-sidebar">
                </aside>
            </div>
        </div>
    </section>

</div>