<div class="list-item">
    <section class="light_section">
        <div class="container list-item-container">
            <div class="shop-filter">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-0">
                    </div>
                    <div class="text-right col-lg-3 col-md-3 col-sm-3 hidden-xs list-grid">
                        <span style="font-size:20px;cursor:pointer;" ng-click="openFilterModal()">FILTER</span> |
                        67 Products | Show
                        <a ng-class="{'item-in-row-current':(itemInRow==2)}" ng-click="changeItemInRow(2)"> 2 </a>
                        <a ng-class="{'item-in-row-current':(itemInRow==6)}"  ng-click="changeItemInRow(6)"> 6 </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <aside class="col-sm-4 col-md-4 col-lg-3" ui-view="sidebar">
                </aside>
                <div class="col-sm-8 col-md-8 col-lg-9">
                    <div id="product_listing">
                        <div class="row">
                            <div class="col-sm-6 shop-product" ng-repeat="item in items track by $index"
                                 ng-class="itemInRow == 2 ? 'col-sm-6':'col-sm-2'">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a ui-sref="lachitus.item-details({id:'item1'})">
                                            <span ng-show="itemInRow==2" class="for-sale" ng-show="item.isNew==true">-New-</span>
                                            <img alt="" ng-src="{{item.image}}">
                                        </a>
                                    </div>
                                    <div class="product-details text-center">
                                        <p>
                                            <span ng-show="itemInRow==6 && item.isNew==true">- New -</span>
                                            <span ng-show="itemInRow==6 && item.isNew==false">----</span>
                                        </p>
                                        <h5 class="product-title">
                                                <a href="#">{{item.name}}</a>
                                        </h5>
                                        <p>{{item.price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="FilterModalContent.html">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="modal-title" id="loginModalLabel">F<span class="highlight">ilter</span></h4>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
        <form role="form" action="/">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <strong>CHARACTERISTICS</strong>
                        <ul>
                            <li>Characteristics</li>
                            <li>Handkerchief</li>
                            <li>Jacket</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <strong>COLLECTIONS</strong>
                        <ul>
                            <li>Basic</li>
                            <li>TRF</li>
                            <li>Woman</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <strong>COLOURS</strong>
                        <ul>
                            <li>Green</li>
                            <li>Grey</li>
                            <li>Blue</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <strong>SIZE</strong>
                        <ul>
                            <li>XS</li>
                            <li>S</li>
                            <li>M</li>
                            <li>L</li>
                            <li>XL</li>
                            <li>XXL</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <strong>QUALITIES</strong>
                        <ul>
                            <li>Leather</li>
                            <li>Mohair</li>
                            <li>Wool</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <strong>Price</strong>
                        <ul>
                            <li>40.00USD</li>
                            <li>60.00USD</li>
                            <li>80.00USD</li>
                            <li>100.00USD</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="theme_button"><i class="rt-icon-ok"></i> Filter</button>
                <a class="theme_button" data-dismiss="modal"><i class="rt-icon-times"></i> Cancel</a>
            </div>
        </form>
    </div>
</script>