<!-- Sidebar -->
<div class="widget widget_categories details-sidebar">
    <ul>
        <li>
            SHIMMER SWEATER
        </li>
        <li>
            REF. 5624/101
        </li>
        <li>
            <h5>19.90 USD</h5>
        </li>
        <li>
            Composition | Shipping | Return
        </li>
        <li>
            Color:
            <i class="fa fa-square" style="color:red"></i>
        </li>
        <li class="border-bottom">
            Select size: <b>S M XL</b>
        </li>
        <li class="border-bottom">
            Size guide
        </li>
        <li>
            <button type="button" class="form-control">ADD TO BASKET</button>
        </li>
        <li>
            <p>
            FREE SHIPPING<br/>
            For standard orders over 50 USD
            </p>
        </li>
        <li class="border-bottom">
            <p>
                FREE RETURNING
            </p>
        </li>
        <li class="border-bottom">
            <h6>
                Due to Christmas Time, the returns/exchanges period for orders placed between the 27th of November and the 17th of December will be extended until the 17th of January.
            </h6>
        </li>
    </ul>
</div>

</aside>
<!-- eof sidebar -->