<section id="topline" class="grey_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 text-right">
                <div class="widget widget_search">
                    <form role="search" method="get" id="searchform" class="searchform form-inline" action="/" style="margin-top: -5px;">
                        <div class="form-group">
                            <label class="screen-reader-text" for="search">Search for:</label>
                            <input type="text" value="" name="search" id="search" class="form-control" placeholder="Search...">
                        </div>
                        <button type="submit" id="searchsubmit" class="theme_button" style="height: 34px; width: 36px; padding-top: 8px; padding-left: 9px;">Search</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3 text-right">
                <span>
                    <i class="fa fa-shopping-cart"></i> <a href="cart.html">Cart</a>
                </span>
                <span>
                    <i class="fa fa-user"></i> <a style="cursor: pointer;" ng-click="OpenLoginModal('sm')">{{user ? "Logout" : "Login"}}</a>
                </span>
            </div>
        </div>
    </div>
</section>

<section id="topinfo" class="action_section table_section light_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">
                <a ui-sref="lachitus.home" class="navbar-brand"><img src="images/lachitus-logo.png" class="img-responsive" style="margin:0 auto;"/></a>
            </div>

            <div class="col-sm-3 text-right">
            </div>
        </div>
    </div>
</section>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span id="toggle_mobile_menu" ng-click="ToogleMobileActive()"></span>
                <nav id="mainmenu_wrapper" bs-affix>
                    <ul id="mainmenu" class="nav nav-justified sf-menu">
                        <li>
                            <a ui-sref="lachitus.list-item({itemInRow: 2, category: 'new'})" ng-click="ToogleMobileActive()" href="index.html"> NEW COLLECTIONS</a>
                        </li>
                        <li>
                            <a ng-click="ToogleMobileActive()" href="about.html"> BEST SELLERS</a>
                        </li>
                        <li>
                            <a ng-click="ToogleMobileActive()" href="gallery.html"> CLOTHINGS</a>
                        </li>
                        <li>
                            <a ng-click="ToogleMobileActive()" href="shop.html"> BELT</a>
                        </li>
                        <li>
                            <a ng-click="ToogleMobileActive()" href="blog.html"> HANDBAG</a>
                        </li>
                        <li>
                            <a ng-click="ToogleMobileActive()" href="contact.html"> SHOE</a>
                        </li>
                        <li>
                            <a ng-click="ToogleMobileActive()" href="contact.html"> ACCESSORIES</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>

<script type="text/ng-template" id="LoginModalContent.html">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-lg-6">
                    <h4 ng-if="inSignIn" class="modal-title" id="loginModalLabel">S<span class="highlight">ign In</span></h4>
                    <h4 ng-if="!inSignIn" class="modal-title" id="SignUpModalLabel">S<span class="highlight">ign Up</span></h4>
                </div>
                <div class="col-lg-6">
                    <a ng-click="ToogleSignInSignUp()" class="theme_button text-center"
                    style="width:100%; cursor: pointer;">{{inSignIn ? "Sign Up" : "Sign In"}}</a>
                </div>

            </div>
        </div>
        <form role="form" action="/" ng-if="inSignIn">
            <div class="modal-body">
                <div class="form-group">
                    <label for="signInUsername">Email address</label>
                    <input type="text" class="form-control" id="signInUsername" ng-model="loginData.username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="signInPassword">Password</label>
                    <input type="password" class="form-control" id="signInPassword" ng-model="loginData.password" placeholder="Enter Password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="theme_button" ng-click="SignIn()"><i class="rt-icon-ok"></i> Login</button>
                <a href="#" class="theme_button" data-dismiss="modal"><i class="rt-icon-times"></i> Cancel</a>
            </div>
        </form>
        <form role="form" action="/" ng-if="!inSignIn">
            <div class="modal-body">
                <div class="form-group">
                    <label for="signUpUsername">Username</label>
                    <input type="email" class="form-control" id="signUpUsername" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="signUpEmail">Email address</label>
                    <input type="email" class="form-control" id="signUpEmail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="signUpPassword">Password</label>
                    <input type="password" class="form-control" id="signUpPassword" placeholder="Enter password">
                </div>
                <label for="signUpReTypePassword">Password</label>
                <input type="password" class="form-control" id="signUpReTypePassword" placeholder="Reenter Password">
            </div>
            <div class="modal-footer">
                <button type="button" class="theme_button"><i class="rt-icon-ok"></i> Login</button>
                <a href="#" class="theme_button" data-dismiss="modal"><i class="rt-icon-times"></i> Cancel</a>
            </div>
        </form>
    </div>
</script>