<!-- Sidebar -->
    <div class="widget widget_categories">
        <!--                        <h3 class="widget-title">Categories</h3>-->
        <ul>
            <li>
                <strong><a href="blog.html" title=""> New collections</a> <span>(3)</span></strong>
            </li>
            <li>
                <a href="blog.html" title=""> Best sellers</a> <span>(5)</span>
            </li>
            <li>
                <a href="blog.html" title=""> Clothings</a> <span>(2)</span>
            </li>
            <li>
                <a href="blog.html" title=""> Belts</a> <span>(7)</span>
            </li>
            <li>
                <a href="blog.html" title=""> Handbags</a> <span>(6)</span>
            </li>
            <li>
                <a href="blog.html" title=""> Shoes</a> <span>(9)</span>
            </li>
            <li>
                <a href="blog.html" title=""> Accessories</a> <span>(10)</span>
            </li>
        </ul>
    </div>

</aside>
<!-- eof sidebar -->